.App-link {
  color: #61dafb;
}

.Back-To-Machine {
  width: 100%;
  text-align: center;
}

.Vending-Machine-Links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Vending-Item {
  width: 100%;
}

.Vending-Item-Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-height: 900px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}